@charset "utf-8";
.header-blue {
  background-color:#819ff3;
  /* padding-bottom:80px; */
  font-family:'Source Sans Pro', sans-serif;
}

@media (min-width:768px) {
  .header-blue {
    /* padding-bottom:120px; */
  }
}
.collapse ul li:hover{
    border-radius: 11px;
    background: #b3afad;
    font-size: 17px;
}
.header-blue .navbar {
  background:transparent;
  padding-top:.75rem;
  padding-bottom:.75rem;
  color:#fff;
  border-radius:0;
  box-shadow:none;
  border:none;
}

@media (min-width:768px) {
  .header-blue .navbar {
    padding-top:1rem;
    padding-bottom:1rem;
  }
}

.header-blue .navbar .navbar-brand {
  font-weight:bold;
  color:inherit;
}

.header-blue .navbar .navbar-brand:hover {
  color:#f0f0f0;
}

.header-blue .navbar .navbar-collapse {
  border-top:1px solid rgba(255,255,255,0.3);
  margin-top:.5rem;
}

@media (min-width:768px) {
  .header-blue .navbar .navbar-collapse {
    border-color:transparent;
    margin:0;
  }
}

.header-blue .navbar .navbar-collapse span .login {
  color:#d9d9d9;
  margin-right:.5rem;
  text-decoration:none;
}

.header-blue .navbar .navbar-collapse span .login:hover {
  color:#fff;
}

.header-blue .navbar .navbar-toggler {
  border-color:rgba(255,255,255,0.3);
}

.header-blue .navbar .navbar-toggler:hover, .header-blue .navbar-toggler:focus {
  background:none;
}

.header-blue .navbar .navbar-nav a.active, .header-blue .navbar .navbar-nav > .show .dropdown-item {
  background:none;
  box-shadow:none;
}

@media (min-width: 768px) {
  .header-blue .navbar-nav .nav-link {
    padding-left:.7rem;
    padding-right:.7rem;
  }
}

@media (min-width: 992px) {
  .header-blue .navbar-nav .nav-link {
    padding-left:1.2rem;
    padding-right:1.2rem;
  }
}

.header-blue .navbar .navbar-nav > li > .dropdown-menu {
  margin-top:-5px;
  box-shadow:0 4px 8px rgba(0,0,0,.1);
  background-color:#fff;
  border-radius:2px;
}

.header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item {
  line-height:2;
  color:#37434d;
}

.header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item:hover {
  background:#ebeff1;
}

.header-blue .action-button, .header-blue .action-button:not(.disabled):active {
  border:1px solid rgba(255,255,255,0.7);
  border-radius:40px;
  color:#ebeff1;
  box-shadow:none;
  text-shadow:none;
  padding:.3rem .8rem;
  background:transparent;
  transition:background-color 0.25s;
  outline:none;
}

.header-blue .action-button:hover {
  color:#fff;
}

.header-blue .navbar .form-inline label {
  color:#d9d9d9;
}

.header-blue .navbar .form-inline .search-field {
  display:inline-block;
  width:80%;
  background:none;
  border:none;
  border-bottom:1px solid transparent;
  border-radius:0;
  color:#ccc;
  box-shadow:none;
  color:inherit;
  transition:border-bottom-color 0.3s;
}

.header-blue .navbar .form-inline .search-field:focus {
  border-bottom:1px solid #ccc;
}

.header-blue .hero {
  margin-top:20px;
  text-align:center;
}

@media (min-width:768px) {
  .header-blue .hero {
    
    text-align:left;
  }
}

.header-blue .hero h1 {
  color:#fff;
  font-size:40px;
  margin-top:0;
  margin-bottom:15px;
  font-weight:300;
  line-height:1.4;
}

@media (min-width:992px) {
  .header-blue .hero h1 {
    margin-top:190px;
    margin-bottom:24px;
    line-height:1.2;
  }
}

.header-blue .hero p {
  
  font-size:20px;
  margin-bottom:30px;
  font-weight:300;
}

.header-blue .phone-holder {
  text-align:right;
}

.header-blue div.iphone-mockup {
  position:relative;
  max-width:300px;
  margin:20px;
  display:inline-block;
}

.header-blue .iphone-mockup img.device {
  width:100%;
  height:auto;
}

.header-blue .iphone-mockup .screen {
  position:absolute;
  width:88%;
  height:77%;
  top:12%;
  border-radius:2px;
  left:6%;
  border:1px solid #444;
  background-color:#aaa;
  overflow:hidden;
  background:url(../../assets/img/screen-content-iphone-6.jpg);
  background-size:cover;
  background-position:center;
}

.header-blue .iphone-mockup .screen:before {
  content:'';
  background-color:#fff;
  position:absolute;
  width:70%;
  height:140%;
  top:-12%;
  right:-60%;
  transform:rotate(-19deg);
  opacity:0.2;
}
.hero{
  max-width: 95%;

}
.search_book{
 width: 40%;
}
#searchbook{
  height: 50px;
    margin: 2px;
    width: 100%;
}
.book_t{
width: 100%;
    text-align: center;
    font-size: 58px;
    background: cadetblue;
    border-radius: 42px;
    margin-top: -14px;
}
.book{
 /* background: yellow;*/
 color: black;
 margin-bottom: 15px;
}
.number_input{
	   display: flex;
    flex-wrap: nowrap;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
}
.tru{
	width:40%;
	text-align:center;
	display: inline-block;
    border-right: 1px solid rgb(200, 200, 200);
    color: rgb(153, 153, 153);
    padding: 6px 12px;
    cursor: pointer;
}
.soluong_input{
	
	 border: none;
    background: transparent;
    width: 20%;
    text-align: center;
    font-size: 13px;
    appearance: none;
    margin: 0px;
}
.book img{
	
}
.cong{
	width :40%;
	text-align:center;
	display: inline-block;
    border-right: 1px solid rgb(200, 200, 200);
    color: rgb(153, 153, 153);
    padding: 6px 12px;
    cursor: pointer;
    border-left: 1px solid rgb(200, 200, 200);
}
.card-title{
	font-size: 19px;
}
.user_icon{
	    font-size: 25px;
    margin-right: 20px;
}
.icon::before{
	content: '\f007';
	font-family: 'FontAwesome';
	padding-right: 10px;
}
.dropbtn {
  background-color: #819ff3;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {outline: none;position: absolute;display: inline-block;right: 2%;z-index: 1;transition: 0.4s;}

.dropdown-content {
  overflow: hidden;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: 0.4s;
  margin-left: 20px;
  border-radius: 50px 10px 50px 8px;
}

.dropdown-content a {
  transition: 0.4s;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;animation: haha 0.4s linear forwards;transition: 0.4s;}

.dropdown:hover .dropbtn {background-color: #3e8e41;border-radius: 0px 50px 0px 50px;transition: 0.4s;animation: hihi 0.4s linear forwards;}
.format{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background: #fff;
    margin: 0 0 20px 66px;
}

.info-product{
/* 	    background: #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
    margin: 20px; */
}
.mycart{
	padding: 20px 0 0 0;
    background: #f4f4f4;

}
.img-product img{
	width: 50%;
}
.method{
	display: flex;
	max-width: 48%;
	width: 20%;
	flex-direction: column-reverse;
}
.delete{position: absolute;right: 12%;}
.checkout{
padding: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
}
.checkout ul{
	    list-style-type: none;
    display: flex;
    justify-content: space-between;

}
.back-to-top #myBtn{
	/*border-radius: 50% ;*/
/*background-color: rgb(236, 240, 241);*/
  font-size: 48px;
  font-family: "Entypo";
  color: rgb(189, 195, 199);
  line-height: 0.5;
  text-align: center;
	border: none;
}
#button {
  display: inline-block;
  background-color: #ecf0f1;
  width: 53px;
  height: 53px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  left: 5%;
  /* right: 30px; */
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
.book.book_1.col-md-3.col-lg-3.col-sm-12.col-12:hover {
    /* color: red; */
    transform: translateY(-10px);
}
#thanhtoanhoadon img{
	width: 80%;
	margin: 0 auto;
}
#thongtinhoadon{
	text-align: center;
}
.chitietdh{
	
border: 1px solid gray;
	
padding: 10px;
}
.diachi{
padding:10px;
border: 1px solid gray;
}
.chitietdh-content{
	display: flex;
	justify-content: space-between;
	padding: 10px 40px 0 40px;
}
.chitietdh-titile{
	
display: flex;
	
justify-content: space-between;
}
.btn-dathang{
	margin: 10px 0;
}
.btn-dathang p{
	font-size: 16px;
    text-align: center;
}
.btn-datmua{
	    width: 100%;
    height: 50px;
    font-size: 25px;	
}
 @keyframes  hihi{

	from{
		transform:translate(-100%); 
	}
	
	to{
		transform:translate(0%); 
	}
}
 @keyframes  haha{

	from{
		transform:translateY(-100%); 
	}
	
	to{
		transform:translateY(0%); 
	}
}